*{
    box-sizing: border-box;
    margin:0;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    color: #fee;
}
.header-image{
    height: 20%;
    width: 100%;
    background: lightblue;
}
.header-text{
    text-align: center;
    background: lightgoldenrodyellow;
    color: #7f5500;
    padding: 10px;
    font-family: Sans;
}
.container-2-rows{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:20%;
}
.product-image{
    width: 50%;
    height: 100%;
    background: lightcoral;
}
.product-download{
    width: 50%;
}
.product-description-short{
    height: 75%;
    background: darkolivegreen;
    width:100%;
}
.download-btn{
    height: 25%;
    width: 100%;
    background: lightyellow;
    border: none;
    font-size: 1.2em;
}
.customer-reviews{
    width: 100%;
    background: lightgreen;
    height: 10%;
}
.product-description-full{
    background: lightslategrey;
    height: 30%;
}
.more-inspiration{
    background: lightseagreen;
    height: 10%
}
.more-products{
    background: lightsalmon;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.more-products-item{
    background: darkseagreen;
    width: 10rem; 
    height: 8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}
.modal-download{
    position: fixed;
    top:0;
    left:0;
    background: rgba(200,150,50,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events:auto;
}
.modal-download form{
    display: flex;
    flex-direction: column;
    background: lightsalmon;
    padding: 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-download input{
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
    border: none;
    border-bottom: solid 2px grey;
}
.modal-download form button{
    margin-top: 2em;
    font-size: 1.5em;
    background: lightblue;
    color: white;
    border: none;
    border-bottom: solid 2px grey;
    padding: 0.5em;
}
.modal-hidden{
    display: none;
}