
body{
 //   background-image: url('view1.png');
   // background-position-x: -395px;
    background: #eee;
    overflow: hidden;
}

.container{
    width: 100%;
    position: fixed;
    top:35%;
    left: 0px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.input_input{
    width: 310px;
    height: 62px;
    padding-left: 16px;
    font-size: 16px;
    color:#3E3F3E;
    border:none;
    border-radius: 5px 0px 0px 5px;
}
.input_input:focus{
    outline:none;
}
.input_button{
    height: 64px;
    width: 64px;
    background: #42BF8D;
    background-image: url('arrow.png');
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;

}
#input_city_container{
    //opacity: 0.1;
    position: relative;
    //transform: translate(92px,294px);
    display: flex;
}
.autocomplete-suggestions{
    position:relative;
    transform: translate(-8px,-10px);
    width: 399wpx !important;
    background: white;
    border-radius: 0px 0px 5px 5px;
}
.autocomplete-suggestion{
    color:#3E3F3E;
    padding: 16px;
    font-size: 16px;
    font-family: sans-serif;
    box-shadow: 0px 0px 0.5px #aEaFaE;
}
.autocomplete-suggestion b{
    color: #42BF8D;
}
.autocomplete-suggestion:hover{
    background: #eee;
    cursor: pointer;
}
