html,body{
    background: #E7926B;
}
#menu_nav{
    left: 0px;
    top:0px;
    position: fixed;
    overflow: hidden;
    width: 100px;
    height: 100%;
    visibility:hidden;

}
#menu_nav.show{
    display: flex;
    width: 100%;
    justify-content: center;
	visibility:visible;
	position:fixed;    
}
#container{
    display: flex;
	visibility:hidden;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    
}

#menuButton{
    background: #E7926B;
    color:#ffffee;
    border: solid;
    border-color:#ffffee;
    border-radius: 500px;
    text-align: center;
    top:40%;
    width: 100px;
    height:100px;
    position: absolute; 
    transition: all 0.2s ease-out;
    cursor: pointer;
   behavior: url(PIE/PIE.htc);
}
.expand{
    background: white;
    box-shadow: 0px 0px 0px 2000px rgba(255,255,255,0.4);
    border:none;
	behavior: url(PIE/PIE.htc);
}
.endExpand{
    box-shadow: 0px 0px 0px 2000px rgba(255,255,255,0.4);
	behavior: url(PIE/PIE.htc);
}

#menuButton svg{
    position: relative;
    left:0;
    stroke:white;
    stroke-width:5px;
}
#menu{
    text-align:center;
    position: relative;
    transition: all 0.2s linear;
    overflow-y:auto;
    overflow-x:hidden;
    width: 20em;
    justify-content:space-around;
}
#menu ul{
    padding-left:5px;
    list-style: none;
    font-family:sans;
    font-size: xx-large;

}
#menu ul li{
    cursor: pointer;
    margin-top:50px
}
#menu ul li:hover{
    color:#ffffff;
}
#linesIcon{
	width:90px;
	position:relative;
	top:10px;
}
@media screen and (max-width: 500px){
    #menuButton{
        top:1px!important;
        left:1px!important;
    }
}