html,body{
    background: #E7926B;
}
#menu_nav{
    left: 40%;
    top:0%;
    position: fixed;
    overflow: hidden;
    width: auto;
    height: 100%;
}
#container{
    height:100%;
    width: 100%;
    padding-right: 10px;
    position: relative;
    display:none;
    overflow-y:scroll;
    text-align:center;
}
#menuButton{
    background: #E7926B;
    color:#ffffee;
    border: solid;
    border-color:#ffffee;
    border-radius: 500px;
    text-align: center;
    top:40%;
    width: 100px;
    height:auto;
    position: absolute; /*was relative*/
    transition: all 0.2s ease-out;
    cursor: pointer;
}
div.expand{
    background: white;
    box-shadow: 0px 0px 0px 2000px #fffff0;
    border:none;
}
#menuButton svg{
    position: relative;
    left:0;
    stroke:white;
    stroke-width:5px;

}
#menu{
    display: none;
    position: relative;
    top:30%;
    left:0%;
    transition: all 0.2s linear;
}
#menu.show{
    display:block;
}
#menu ul{
    padding-left:5px;
    list-style: none;
    font-family:sans;
    font-size: xx-large;
}
#menu ul li{
    cursor: pointer;
    margin-top:50px
}
#menu ul li:hover{
    color:#E7926B
}
@media screen and (max-width: 500px){
    #menuButton{
        top:1px!important;
        left:1px!important;
    }
    #menu_nav{
       left:30%; 
    }

}